.cabecalho {
    align-items: center;
    display: flex;
    grid-area: cabecalho;
    padding: 0 2rem;
}

.menu__link{
    color: $cor-texto;
    padding: .5rem 1rem;
}

.menu__link:hover, .menu__link.ativo{
    border-bottom: 2px solid $holver;

}
